:root {
  --variable-collection-js-black: rgba(39, 35, 41, 1);
  --variable-collection-js-violet: rgba(85, 7, 155, 1);
  --variable-collection-ERROR: rgba(168, 42, 47, 0.84);
  --variable-collection-78787a: rgba(120, 120, 122, 1);
  --variable-collection-js-green: rgba(20, 165, 34, 1);
}
